@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
  url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Light";
  src: local("Inter-Light"),
  url("./assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: local("Inter-Medium"),
  url("./assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: local("Inter-Bold"),
  url("./assets/fonts/Inter-Bold.ttf");
}

body {
  margin: 0;
  font-family: 'Inter', 'Netflix-Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    text-align: center;
    background-color: #141414;
    color:white;
}

/* Nav */
.nav {
  justify-content: center;
  text-align: left;
  align-items: center;
  border-radius: 4px;
  padding: 12px 8px;
  margin-right: 8px;
  text-decoration: none;
}

.nav-inactive {
  color: #c1c1c1;
}

.nav-active {
  color: #ffffff;
  font-weight: bold;
}

.text-user{
  font-size: 12px !important;
  color:#c1c1c1 !important;
}

.box-menu{
  padding:5px;
}

/* Login */
.login-image{
  position: absolute;
  left: 0px;
  width: 60%;
  height: 100%;
  background:url('https://placebear.com/1024/1024')
  /* background: url('../src/assets/images/ProfilePicture.png') */
}

.login-content{
  font-family: 'Inter';
    font-size: 26px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0px;
    background: linear-gradient(270deg, #000000 76%, rgba(217, 217, 217, 0) 99%);
}

.form-login{
  width: 50%;
  margin-left: 35%;
}

.login-text{
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
}

.login-text>a{
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
}


/* Movie */
.movie-box {
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%;
}

.movie-box .movie-content {
  margin: 18px 5px
}

.movie-content img {
  max-height: 200px;
  border-radius: 5px;
}

.movie-content img:hover {
  cursor: pointer;
}

.video-content{
  grid-template-columns: repeat(2, 1fr);
}

.box-video{
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
}
.box-video iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 90%;
  position: absolute;
  margin: 0 5%;
}

/* Footer */
.container-footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-text-footer{
  font-family: "Inter Medium";
  text-align: left;
  font-size: 12px;
  color:#808080;
}

.text-footer{
  margin-bottom: 5px;
}

.btn-footer{
  display: flex;
  flex-direction: row;
  background-color: #141414;
  border: 1px solid #808080;
  color: #808080;
  align-items: flex-start;
  padding: 10px 15px;
  font-size: 12px;
}

.copyright{
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
  color: #808080;
}
